<mat-card class="p-0">
  <mat-card-title class="">
    <div class="card-title-text">Chalan {{pageType}}</div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="firstFormGroup">
    <div fxLayout="row wrap">
     
      <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="25">
        <mat-form-field appearance="outline">
          <mat-label>Select Company</mat-label>
          <mat-select   formControlName="parentCompany" (selectionChange)="change($event)" >
            <mat-option  *ngFor ="let list of CompanyList" [value] ="list.uuid">{{list.name}} </mat-option>
          </mat-select>                
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="25">
        <mat-form-field appearance="outline">
          <mat-label>Select Po</mat-label>
          <mat-select   formControlName="chalanPONouuid" (selectionChange)="changePo($event)" >
            <mat-option  *ngFor ="let list of poList" [value] ="list.uuid">{{list.chalanNo}} </mat-option>
          </mat-select>                
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="25">
        <mat-form-field appearance="outline">
          <mat-label>Chalan No.</mat-label>
          <input matInput placeholder="Placeholder" formControlName="chalanNo">

        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="25">
        <mat-form-field appearance="outline">
          <mat-label>Select Warehouse</mat-label>
          <mat-select   formControlName="wareuuid" >
            <mat-option  *ngFor ="let list of wareList" [value] ="list.uuid">{{list.name}} </mat-option>
          </mat-select>                
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="25">
        <mat-form-field appearance="outline">
          <mat-label>Select Client</mat-label>
          <mat-select   formControlName="vendor" >
            <mat-option  *ngFor ="let list of clinetList" [value] ="list.uuid">{{list.name}} </mat-option>
          </mat-select>                
        </mat-form-field>
      </div>
    
      <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100">
        <table class="default-table mat-box-shadow mb-24" style="width: 100%">
         <thead>
           <tr>
             <th width="30%"> Name</th>
             <th>vendor  Quantity</th>
             <th>Quantity Received</th>

             <th>Reached Quantity</th>
             <th>Cost</th>
           </tr>
         </thead>
         <tbody *ngIf="materialData.length>0; else paymentTermNoData">
           <tr *ngFor="let item of materialData;let index = index">
             <td>{{ item.name }}</td>
             <td nowrap> 
              {{item.matQty}}</td>
              <td nowrap> 
                {{item.matSend}}</td>
             <td nowrap> 
               <mat-form-field  appearance="outline">
               <mat-label>Quantity</mat-label>
               <input matInput placeholder="Placeholder"  type ="number" [(ngModel)]= "item.materialqty"  [ngModelOptions]="{standalone: true}" >
              
   
             </mat-form-field></td>
             <td nowrap> 
             {{item.materialcost}}</td>
   
             <td nowrap>
   
   
               <button mat-raised-button color="warn" class="mx-4" (click)="remove(index)">
                 <mat-icon aria-hidden="false" aria-label="Example home icon"   style="  cursor: pointer;">delete_sweep</mat-icon>
   
               </button>
              </td>
           </tr>
         </tbody>
         <ng-template #paymentTermNoData>
           <p [ngStyle]="{padding: '0 1.2rem'}">Queue is empty</p>
         </ng-template>
       </table>
      
   </div>
      </div>
      <div fxLayout="row">
         <span fxFlex="8px"></span>
        <button mat-raised-button color="primary" (click)="createCompany();" *ngIf="pageType == 'Add'">Submit</button>
</div>
    
    </form></mat-card-content></mat-card>