<mat-card class="p-0">
  <mat-card-title class="">
    <div class="card-title-text">Material {{pageType}}</div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>


    <form [formGroup]="firstFormGroup">
      <div fxLayout="row wrap">
        
        <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="33.3">
          <mat-form-field appearance="outline">
            <mat-label>Company Material</mat-label>
            <mat-select    formControlName="companyuuid"  (selectionChange)="getCompanyMaterial()">
              <mat-option *ngFor ="let list of companyList" [value] ="list.uuid" >{{list.name}}  </mat-option>
            </mat-select>   
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="33.3">
          <mat-form-field appearance="outline">
            <mat-label>Warehouse</mat-label>
            <mat-select    formControlName="warehouseuuid"  (selectionChange)="getwareHouseMaterial()">
              <mat-option *ngFor ="let list of warehouseList" [value] ="list.uuid" >{{list.name}}  </mat-option>
            </mat-select>   
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="33.3">
          <mat-form-field appearance="outline">
            <mat-label>Material</mat-label>
            <mat-select   formControlName="materialuuid" >
              <mat-option   *ngFor ="let list of materialList" [value] ="list.uuid" >{{list.name}}  </mat-option>
            </mat-select>                

          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="33.3">
          <mat-form-field appearance="outline">
            <mat-label>Material High Limit</mat-label>
            <input matInput placeholder="Placeholder" formControlName="materialhigh" type ="number">

          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="33.3">
          <mat-form-field appearance="outline">
            <mat-label>Material Low Limit</mat-label>
            <input matInput placeholder="Placeholder" formControlName="materiallow" type ="number">

          </mat-form-field>
        </div>  <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="33.3">
          <mat-form-field appearance="outline">
            <mat-label>Material Quantity</mat-label>
            <input matInput placeholder="Placeholder" formControlName="materialquantity" type ="number">

          </mat-form-field>
        </div>
           
        
      </div>
      <button mat-raised-button color="primary" (click)="addMaterial();" *ngIf ="pageType == 'Add'">Add</button>
      <button mat-raised-button color="primary" (click)="updateMaterial();" *ngIf ="pageType != 'Add'">Update</button>
      <button mat-raised-button color="warn"    style="margin-left: 5px;"  [routerLink]="['/company/vertical']"
      >Back</button>

    </form>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title class="">
    <div class="card-title-text">Material List</div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
    <div fxLayout="row wrap">
  
      <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100">
          
        <mat-form-field class="margin-333" style="width: 100%">
          <input 
          matInput 
          placeholder="Type to filter all columns" 
          value=""
          (keyup)='updateFilter($event)'>
        </mat-form-field>
      </div>
      </div>
      
      
      <div class="mat-box-shadow margin-333">
          <ngx-datatable class="material bg-white" 
          [columnMode]="'force'"  
          [headerHeight]="50"
          [footerHeight]="50" 
          [rowHeight]="'auto'"
          [limit]="8"
          [rows]="rows"
          [columns]="columns" >
          <ngx-datatable-column name="id" [sortable]="true">
              <ng-template    let-rowIndex="rowIndex"  ngx-datatable-cell-template>
                {{rowIndex + 1}}
              </ng-template>
            </ngx-datatable-column>
              
            <ngx-datatable-column name="Name" [sortable]="true">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.name}}
                  </ng-template>
              </ngx-datatable-column>
                  
              <ngx-datatable-column name="Quantity">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.warehousequantity}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="High Limit">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.warehousehighlimit}}
                </ng-template>
              </ngx-datatable-column>
            <ngx-datatable-column name="Low Limit">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.warehouselowlimit}}
                </ng-template>
              </ngx-datatable-column>
              
            <!-- <ngx-datatable-column name="Action">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button mat-icon-button aria-label="Example icon-button with a heart icon" (click) = "departmentedit(row.uuid)">
                        <mat-icon>edit</mat-icon>
                      </button> 
                      
                 </ng-template>
              </ngx-datatable-column> -->
          </ngx-datatable>
      </div>
</mat-card-content>
</mat-card>