<mat-card class="p-0">
  <mat-card-title class="">
    <div class="card-title-text"> {{pageType}}</div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
    <mat-horizontal-stepper [linear]="true">
      <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>{{selectPage}} Address Info</ng-template>

        <form [formGroup]="firstFormGroup" >

          <div fxLayout="row wrap">
           
            <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100">
              <mat-form-field appearance="outline">
                <mat-label>{{selectPage}} Name</mat-label>
                <input matInput placeholder="Placeholder"  formControlName="name"   >
                
              </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="20">
              <mat-form-field appearance="outline">
                <mat-label>Country</mat-label>
                <mat-select (selectionChange)="selectCountry()" formControlName="country1" >
                  <mat-option  *ngFor ="let list of countryList" [value] ="list.id">{{list.name}} </mat-option>
                </mat-select>                
              </mat-form-field>
             
</div>
   <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="20">
  <mat-form-field appearance="outline">
    <mat-label>State</mat-label>
    <mat-select (selectionChange)="selectState()" formControlName="state1" >
      <mat-option  *ngFor ="let list of stateList" [value] ="list.id">{{list.name}} </mat-option>
    </mat-select>           
  </mat-form-field>
 
</div>
<div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="20">
  <mat-form-field appearance="outline">
    <mat-label>City</mat-label>
    <mat-select   formControlName="city1" >
      <mat-option  *ngFor ="let list of cityList" [value] ="list.id">{{list.name}} </mat-option>
    </mat-select>           
    
  </mat-form-field>
 
</div>
<div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="20">
  <mat-form-field appearance="outline">
    <mat-label>Zip code</mat-label>
    <input matInput placeholder="Placeholder"  formControlName="zipcode"  >
    
  </mat-form-field>
 
</div>
<div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="20">
  <mat-form-field appearance="outline">
    <mat-label>Phone Number</mat-label>
    <input matInput placeholder="Placeholder"   formControlName="phoneNumber"  >
    
  </mat-form-field>
 
</div>
<div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="20">
  <mat-form-field appearance="outline">
    <mat-label>Website</mat-label>
    <input matInput placeholder="Placeholder"   formControlName="website"  >
    
  </mat-form-field>
 
</div>
<div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="20">
  <mat-form-field appearance="outline">
    <mat-label>Company Email</mat-label>
    <input matInput placeholder="Placeholder"   formControlName="companyEmail"  >
    
  </mat-form-field>
 
</div>
  <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100">
    <mat-form-field appearance="outline" class="textareaForm">
      <mat-label>Address</mat-label>
      <textarea matInput placeholder="Address"  formControlName="Address"    ></textarea>
    </mat-form-field>
</div>

          </div>
          <div>
            <!-- <input type="button" value ="Next" color="primary" mat-raised-button matStepperNext> -->
            <!-- <button mat-raised-button color="primary"  (click)="$event.stopPropagation()">Next</button> -->
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>{{selectPage}} Tax Info</ng-template>

        <form [formGroup]="secondFormGroup">
          <div fxLayout="row wrap">

            <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="25">
              <mat-form-field appearance="outline">
                <mat-label>GST Number</mat-label>
                <input matInput placeholder="Placeholder"    formControlName="GSTno"  >
                
              </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="25">
              <mat-form-field appearance="outline">
                <mat-label>CIN</mat-label>
                <input matInput placeholder="Placeholder"   formControlName="cnino"  >
                
              </mat-form-field>
             
            </div>
            <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="25">
              <mat-form-field appearance="outline">
                <mat-label>PAN Number</mat-label>
                <input matInput placeholder="Placeholder"    formControlName="PAN"  >
                
              </mat-form-field>
            </div>
           
            <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="25"  *ngIf ="pagedatatype == 1 " >
                 <mat-form-field appearance="outline"  >
                  <mat-label>{{selectPage}} Type</mat-label>
                  <mat-select  formControlName="type"  (selectionChange)="selectType()">
 
                     <mat-option  [value]="'Group'">Group </mat-option>
                      <mat-option  [value]="'Site'">Site </mat-option>

                    
                  </mat-select>
                </mat-form-field>                
             </div>
             <!-- <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="20"  *ngIf ="secondFormGroup.value.type == 'Group'">
              <mat-checkbox  formControlName="iscompany">Is Company</mat-checkbox>
            </div> -->
            <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="33.3" *ngIf =" secondFormGroup.value.type != 'All' && showparent">
              <mat-form-field appearance="outline" >
               <mat-label>Select Parent Group</mat-label>
               <mat-select  formControlName="parentuuid" >
                 
                <mat-option  *ngFor ="let list of companyLists" [value]="list.uuid">{{list.name}} </mat-option>

                </mat-select>
             </mat-form-field>                
          </div>
             <!-- <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="20"  *ngIf ="secondFormGroup.value.type == 'Client'">
              <mat-checkbox  formControlName="isparent">Is Parent Group</mat-checkbox>
            </div> -->
            <!-- <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="20"  *ngIf ="secondFormGroup.value.type == 'Site'">
              <mat-checkbox  formControlName="isparent">Is Parent Client</mat-checkbox>
            </div>
             <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="33.3" *ngIf ="secondFormGroup.value.isparent && secondFormGroup.value.type == 'Client'">
              <mat-form-field appearance="outline" >
               <mat-label>Select Parent Group</mat-label>
               <mat-select  formControlName="parentuuid" >
                <mat-option  *ngFor ="let list of companyLists" [value]="list.uuid">{{list.name}} </mat-option>

                </mat-select>
             </mat-form-field>                
          </div> -->
       
            </div>
            <div>
              <!-- <button mat-raised-button color="accent" matStepperPrevious  style="margin-right: 5px;">Back</button>

              <button mat-raised-button color="primary" matStepperNext>Next</button> -->
            </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div>
          <mat-icon class="pt-1" [style.fontSize]="'36px'">check</mat-icon>
        </div>
        <div class="pb-1 mb-1"> You Are Done.</div>
        <div fxLayout="row">
          <!-- <button mat-raised-button color="accent" matStepperPrevious>Back</button> -->
          <span fxFlex="8px"></span>
          <button mat-raised-button color="primary" (click)="createCompany();" *ngIf ="showAdd == 'Add'">Submit</button>
          <button mat-raised-button color="primary" (click)="updateCompany();" *ngIf ="showAdd != 'Add'">Update</button>

        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>